/* YUI reset.css from 2.6.0 */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}del,ins{text-decoration:none;} 


html { 
  margin: 0;
  background-color: #e5e5e5;
  color: #787878;
  font-family: Helevtica, arial, sans-serif;
}

img {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
	color: #828282;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #f33;
}

h1 {
	font-size: 24px;
	font-weight: bold;
	color: #f60000;
	margin-bottom: 5px;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	color: #787878;
	margin-top: 10px;
}

h3 {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 5px;
}

ul {
	margin-bottom: 10px;
}

li {
	list-style: disc inside;
}

li ul li {
	margin-left: 25px;
}

blockquote {
	font-style: italic;
}

#main {
	border: 3px solid #e1e1e1;
	width: 730px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: #fff;
	height: 140px;
	border-top: 1px solid #bebebe;
	border-left: 1px solid #bebebe;
	border-right: 1px solid #bebebe;
}
#header img {
	float: left;
	margin: 15px;
}
#header span {
	float: right;
	margin: 35px;
	width: 450px;
	font-size: 12px;
}



#content {
	border-left: 1px solid #bebebe;
	border-right: 1px solid #bebebe;
	border-bottom: 1px solid #bebebe;
	background-color: #fff;
	padding: 40px;
	position: relative;
}
#left {
	width: 400px;
	min-height: 600px;
}
#left p, .full p {
	margin-top: 20px;
	margin-bottom: 20px;
}

#right {
	position: absolute;
	top: 40px;
	right: 40px;
}
#right .box {
	width: 189px;
	margin-bottom: 20px;
	font-size: 11px;
	border: 1px solid #bebebe;
	background-color: #d9d9d9;
}
#right .box h3 {
	width: 189px;
	height: 26px;
	text-align: center;
	font-size: 15px;
	color: #fff;
	line-height: 26px;
	font-weight: bold;
	background-image: url(/img/module_top.gif);
}
#right .box p {
	margin: 5px;
	background: #fff;
	padding: 5px;
	border: 1px solid #bebebe;
	max-height: 150px;
	overflow: auto;
}
#right .box div{
	margin: 5px;
	padding: 5px;
	text-align: right;
}
#right .box img {
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}
#right .box b {
	margin: 5px;
	font-weight: bold;
	font-size: 14px;
}
#right .box em {
	margin: 8px;
	display: block;
	font-weight: bold;
	font-size: 18pt;
	color: #f60000;
}


#footer {
	width: 720px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 1px solid #c7c7c7;
	color: #a8a8a8;
	background-color: #dcdcdc;
	margin-top: 10px;
	padding: 4px;
}


#menubar {
	border-left: 1px solid #bebebe;
	border-right: 1px solid #bebebe;
	clear: both;
	height: 26px;
	background-image: url(/img/menu_bar.gif);
}

#menu {
	z-index: 1000;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

#menu a, #menu a:hover {
	color: #eee;
}
	
#menu li {
	float: left;
	list-style: none;
	text-align: center;
}

#menu li a {
	line-height: 16px;
	font-size: 16px;
	display: block;
	padding: 5px 12px;
	text-decoration: none;
	width: 130px;
       	white-space: nowrap;
}

#menu li a:hover {
}

#menu li ul {
	z-index: 1000;
	margin: 0;
	margin-left: 5px;
	margin-right: 5px;
	padding: 0;
	position: absolute;
	visibility: hidden;
	border-left: 1px solid #bebebe;
	border-right: 1px solid #bebebe;
	border-bottom: 1px solid #bebebe;
}

#menu li ul li {
	float: none;
	display: inline;
}

#menu li ul li a {
	font-size: 14px;
	font-weight: bold;
	width: 120px;
	color: #777;
	background: #d9d9d9;
	opacity: .90;
	/* filter: alpha(opacity=90); */
	-moz-opacity:.90;
}

#menu li ul li a:hover {
	color: #fff;
	background: #6a6a6a;
}

.quote {
	border-top: 2px solid #dedede;
}
