<h1>Consulting Pricing</h1>
<p>ithought's services are not the cheapest available, but as our testimonials support, "you will get what you pay for."  Here are our starting points: 
<ul>
<li>Initial brainstorming and consultation on ideas, feasibility, architecture, etc: $250 for ~2 hours -- more time if it's over a meal.</li>
<li>Turning your website idea into reality when you have all the pieces required: $1000 for a ~2 week turnaround. If you don't have all the pieces, I can connect you with an appropriate designer than can turn your ideas into the pieces.</li>
<p>Everything is negotiable.  I'm always looking for camera equipment, server equipment, and bike related things so bartering is definitely an option as well.</p>
<p>If you're interested, please e-mail ckdake at ckdake dot com with your needs and we'll set something up.</p>
