<h1>Consulting Testimonials</h1>
<p>Below are some things that customers have said to say about ithought's consulting services:</p>
<div class="quote">
<blockquote>
<p>Chris is one of the more extraordinary minds I've ever had the privilege of working on projects with.  He handles projects in an efficient and thorough manner, generally finishing tasks above and beyond what is required and in less time than allocated.  He can map out a project from start to finish and provides timely updates as tasks are making their way to fruition.  He uses his vast knowledge to not only make sure the job gets done, but that it's fully-completed and done the "right way" with future considerations in place, as opposed to the quickest and easiest path for today.  For that reason alone, Chris is someone I'll consistently turn to for advice and assistance for technical and architecture planning or problems. </p>
</blockquote>
<p>Joey Parsons - Director of Global Operations, <a href="http://www.sugarcrm.com/">SugarCRM</a></p>
</div>

<div class="quote">
<blockquote>
<p>I have worked with Chris on a wide variety of web projects over the years and have always found him to be professional, intelligent, and creative. His hosting service is by far the best value around and I have recommended it to all of my clients. His consulting is also one-of-a-kind - brilliance like this is rarely so accessible. I consider ithought.org to be an excellent service and Chris to be a valuable partner.</p>
</blockquote>
<p>Kurt Rampton, <a href="http://www.krautstache.com/">Krautstache Design</a></p>
</div>

<div class="quote">
<blockquote>
<p>During the early stages of our business, Chris did a good job of translating our stated needs and wishes into system requirements.  He efficiently mapped out the system architecture overview and functionality that we needed to turn our vision into reality.  Chris was always prompt and professional and we enjoyed working with him.</p>
</blockquote>
<p>Angus Hill - President, <a href="http://www.franchisegenius.com/">Franchise Genius LLC</a></p>
</div>
<div class="quote">
<blockquote>
<p>Eleon Power is commercializing a potentially "game changing" portable power technology, and needed a web site to communicate our message effectively.  Working collaboratively with company management and product design professionals, Chris coordinated site development efforts, with <a href="http://www.eleonpower.com/">www.eleonpower.com</a> the result.  Chris was always available, efficient, flexible, and professional.  Within tight budget and schedule constraints, results exceeded expectations.  We will continue to work with him as our site requirements evolve.</p>
</blockquote>
<p>Dave Kelly - Chairman and CEO, <a href="http://www.eleonpower.com/">Eleon Power</a></p>
</div>
<div class="quote">
<blockquote>
<p>Chris is a valuable member of the Atlanta Bicycle Campaign's ongoing website development committee.  In our redesign of our site, he helped us focus on being user-centric and was able to suggest easy solutions for implementing the functionality we want.  His experience with Drupal is greatly appreciated.</p>
</blockquote>
<p>Rebecca Serna - Executive Director, Michael Selik - Outreach Manager, <a href="http://www.atlantabike.org/">Atlanta Bicycle Campaign</a></p>
</div>
