<h1>Background</h1>
<p> Below are some of the things that ithought has worked on over the last few years:</p><ul>
<li>Working with graphic designers to build great looking static websites with HTML and CSS: <a href="http://www.eleonpower.com/">Eleon</a> (2007), <a href="http://www.misterxconsulting.com/">Mister X Consulting</a> (2005)</li>
<li>Simple PHP website development: <a href="http://www.janecreates.com/">Janecreates</a> (2004)</li>
<li>Content Management System design and implementation: <a href="http://www.duketipalumni.com/">Duke TIP Alumni Association</a> (2001), <a href="http://www.collegemedium.com/">Collegemedium</a> (2006)</li>
<li>Rapid website development with Drupal, Wordpress, Magento, and others: <a href="http://www.corndogorama.com/">Corndogorama</a> (2007), <a href="http://www.barackandbill.com/">BarackandBill</a> (2008), <a href="http://www.nobrakesatl.com/store/">nobrakes store</a> (2008)</li>
<li>Community website development, growth management, and platform upgrading: <a href="http://fastermustache.org/">Faster Mustache</a> (2005-current)</li>
<li>Web application architecture consulting: <a href="http://www.franchisegenius.com/">Franchise Bullseye</a> (2007)</li>
<li>Clustered LAMP application environment development, maintenance, and optimization: <a href="http://www.sugarcrm.com/crm/products/sugar-on-demand.html">SugarCRM On-Demand</a> (2008-current)</li>
<li>Python web-application development for server infrastructure monitoring <a href="http://www.google.com/">Google</a> (2007)</li>
<li>Network performance research leading to a Masters in Computer Science at Georgia Tech: <a href="http://www.rnoc.gatech.edu/cpr/">CPR</a> (2001-2007)</li>
<li>Professional support services for <a href="http://gallery.menalto.com/">Gallery</a> (2006-current)</li>
<li>LAMP stack deployment and tuning (2003-current)</li>
<li>End-user support for Mac's and PCs (1998-current)</li>
</ul>
