<h1>Hosting Payment</h1>

<h2>Making a payment</h2>
<p>You can mail a check (email ithought for the address if you need it), use PayPal, or you can use Google Checkout. If you are not on one of the standard plans, email ithought and you'll get an invoice, but the buttons below should be enough for just about everyone. Checks are preferred, and Paypal is the preferred online payment method.

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="5982657">
<table>
<tr><td><input type="hidden" name="on0" value="Hosting">Pay with Paypal</td></tr><tr><td><select name="os0">
	<option value="1yr Web/Mail + Domain Name">1yr Web/Mail + Domain Name $115.00
		<option value="1yr Web/Mail">1yr Web/Mail $100.00
			<option value="1mo Basic Dedicated">1mo Basic Dedicated $75.00
				<option value="1mo Performance Dedicated">1mo Performance Dedicated $150.00
				</select> </td>
				<td>
				<input type="hidden" name="currency_code" value="USD">
				<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</td></tr></table>
				</form>



<br />

<form action="https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/962309064789458" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm">
    <table cellpadding="5" cellspacing="0" width="1%">
        <tr>
            <td width="1%">
	    	Pay with Google Checkout
                <select name="item_selection_1">
                    <option value="1">$115.00 - 1yr Web/Mail + Domain Name</option>

                    <option value="2">$100.00 - 1yr Web/Mail</option>
                    <option value="3">$75.00 - 1mo Basic Dedicated</option>
                    <option value="4">$150.00 - 1mo Performance Dedicated</option>
                </select>
                <input name="item_option_name_1" type="hidden" value="1yr Web/Mail + Domain Name"/>
                <input name="item_option_price_1" type="hidden" value="115.0"/>
                <input name="item_option_description_1" type="hidden" value=""/>

                <input name="item_option_quantity_1" type="hidden" value="1"/>
                <input name="item_option_currency_1" type="hidden" value="USD"/>
                <input name="item_option_name_2" type="hidden" value="1yr Web/Mail"/>
                <input name="item_option_price_2" type="hidden" value="100.0"/>
                <input name="item_option_description_2" type="hidden" value="You take care of your domain name, I take care of your hosting."/>
                <input name="item_option_quantity_2" type="hidden" value="1"/>
                <input name="item_option_currency_2" type="hidden" value="USD"/>
                <input name="item_option_name_3" type="hidden" value="1mo basic dedicated"/>
                <input name="item_option_price_3" type="hidden" value="75.0"/>

                <input name="item_option_description_3" type="hidden" value="A low end 1U server and some bandwidth, just for you."/>
                <input name="item_option_quantity_3" type="hidden" value="1"/>
                <input name="item_option_currency_3" type="hidden" value="USD"/>
                <input name="item_option_name_4" type="hidden" value="1mo performance dedicated"/>
                <input name="item_option_price_4" type="hidden" value="150.0"/>
                <input name="item_option_description_4" type="hidden" value="A pretty spiffy 1U server and a lot of bandwidth, just for you."/>
                <input name="item_option_quantity_4" type="hidden" value="1"/>
                <input name="item_option_currency_4" type="hidden" value="USD"/>
            </td>

            <td align="left" width="1%">
                <input alt="" src="https://checkout.google.com/buttons/buy.gif?merchant_id=962309064789458&amp;w=117&amp;h=48&amp;style=trans&amp;variant=text&amp;loc=en_US" type="image"/>
            </td>
        </tr>
    </table>
</form>

<br />

</p>

<h2>Late Payment</h2>
<p>Circumstances vary so if you think you might miss your deadline, please contact ithought. Payments 1-30 days late will receive no interruption of service but may carry a 10% late fee. If payment is not received by 30 days after it was due, your website, e-mail, and access may be disabled, and you may be charged a 25% late fee. If payment is not received within 60 days of it's due date, your access may be disabled and all of your information may be removed from our servers at our discretion.</p>

<h2>Paying by Check</h2>
<p>Please make all checks payable to "ithought"</p>
<p>When you provide a check as payment, you authorize us to use information from the check to make a one-time electronic fund transfer from your account, or to process the payment as a check transaction. You authorize us to collect a fee of $30 (plus a bank fee charged to the merchant if allowed by your state law) through electronic fund transfer from your account if your payment is returned unpaid.</p>
