<h1>Hosting Testimonials</h1>
<p>Below are some things that people have said about ithought's hosting services:</p>

<div class="quote">
<blockquote>
<p>Putting my server in Chris Kelly's care has been a delight.  My hardware changes were handled efficiently, and I have been kept aware of network statistics through comprehensive reporting and instant alerts.  I'm glad to have someone reliable and intelligent supplying my hosting needs.</p>
</blockquote>
<p>Jesse Mullan - <a href="http://jpmullan.com/">jpmullan.com</a></p>
</div>

<div class="quote">
<blockquote>
<p>I own a web and interactive design company and I have hosted my company's website with Chris since day one.  Many of my clients have chosen to host their sites with Chris as well. Chris is alway quick to respond when the occasional issues show up.  My problems and questions have always been resolved within an hour. I highly recommend Chris' hosting services.</p>
</blockquote>
<p>Melissa Hwang - <a href="http://www.dotdotstudios.com/">DotDot Studios</a></p>
</div>

<div class="quote">
<blockquote>
<p>Chris Kelly has provided me with hosting service for five years. The number of sites he has hosted for me has varied between 5 and 20. During that time I have enjoyed Chris's professional service, his server's superior uptime and his flexibility. I am a tech-savvy person, but don't know everything, which is why Chris is so valuable. If I need some change made on the server Chris is there to make it happen. I recommend Chris and ithought.org to anyone interested in an affordable, responsive web hosting solution.</p>
</blockquote>
<p>Richard Lorenc - <a href="http://www.openillinois.org/">www.openillinois.org</a></p>
</div>

<div class="quote">
<blockquote>
<p>
Chris has been a integral asset to our bike shop. He assembled the backbone for our online store and has served as our go to guy for our
numerous IT perils and ponderings. We switched our entire online presence over to Chris's hosting services and have been very pleased with the improved performance and productivity of our websites. Chris has always taken the time to distinctly explain the in's and out's of every step keeping every aspect transparent and easy to grasp.  We have always had the sense of Chris's vested interest in not only the success of the projects he's worked on with us but our business's success overall! We had previously known of Chris's expertise and friendly approach to getting things done via his involvement in the bike community here in Atlanta. We had also seen Chris's acute attention to detail and design implemented on other websites before and the choice to go with ithought was a clear one. 
</blockquote>
<p>Jon Woodroof - Co-owner, <a href="http://www.nobrakesatl.com/">No Brakes</a></p>
</div>

<div class="quote">
<blockquote>
<p>To whom it may concern.</p>
<p>I would highly recommend Chris Kelly to host your online presence.  I was quite unsure of how to go about getting a domain name and creating my own "web home".  After looking around for quite a long time, I heard about Chris.</p>
<p>Within minutes, Chris had created my hosting environment and all I need to do was create my content.  Chris is highly supportive and has been very flexible and responsive to any requests I've had of him.   Chris's flexibility  is, in  my opinion,  a true differentiator among the many hosting options currently available</p>
</blockquote>
<p>Tim Almdal - <a href="http://www.timalmdal.com/">www.timalmdal.com</a></p>
</div>

<div class="quote">
<blockquote>
<p>I receive email, web hosting, and Chandler service through Chris Kelly. He is my only point of contact and I know I can receive a quick and useful reply anytime between the early morning and late evening.  For example, when I started web service, I had no php or mysql experience, but Chris answered even the mundane questions quickly.  If I happened to send him a question late at night, I found a reply in my inbox timestamped for first thing in the morning.  Also, if there is ever a program I need installed on the servers, Chris will get it installed if at all possible.</p>
<p>While Chris' personal approach also eliminates conflicting or redundant service, his knowledge of the services he provides always yields an efficient solution.  I have rarely encountered hosting downtime, but in case that's a question, Chris has an off-site server that provides an up-to-date system status.  Chris always encourages his clients to contact him if the system status doesn't agree with the server.  For example, when I pointed out the Chandler server was down, Chris immediately had it restarted... and I am the only person besides him who uses the service.</p>
<p>If you're looking for reliable, affordable hosting, I would suggest ithought.org without reservation.  It's reassuring to know I own all my online information (something google users can't say.) and know that I can have any server problem resolved quickly.</p>
</blockquote>
<p>Victor Kumsomboone - <a href="http://www.v1ct0r.org/">www.v1ct0r.org</a></p>
</div>
