<h1>Hosting Platform</h1>
<p>Your site or services will run on top-of-the-line hardware, with continually expanding capacity for future growth requirements. All software is secured and reviewed regularly for performance and security enhancements.</p>
<p>The majority of ithought hardware is located in <a href="http://www.56marietta.com/">56 Marietta Street</a>, a secure carrier hotel/interconnect facility in downtown Atlanta. All of the Internet pipes in the southeast United States go through this building, and it has not needed backup power in over 8 years due to being on two high-priority power circuits. Other features include:</p>
<ul>
	<li>Multiple Gigabit and 10-Gigabit Ethernet connections with Tier-1 ISPs</li>
	<li>Fully redundant power and cooling</li>
	<li>Card access controlled server rooms and elevators, 24/7 manned security, "man-trap" secured exterior doors</li>
</ul>

<p>In this facility, your site or services will be connected to Dell and Cisco networking equipment and running on Dell Servers connected to RAID arrays on Dell directly-attached storage systems. On top of the basics, I provide:</p>

<li>Onsite and offsite backups</li>
<li>Database replication</li>
<li>Backup mail spools including one in another datacenter</li>
<li>Remote monitoring of all systems and services from another datacenter</li>
<li>RAID systems in every server</li>
</ul>

<h2>Photo of the Rack as of December 29th 2008</h2>
<img style="margin:10px;" src="/img/rack.jpg" alt="" />
