<h1>Hosting Services</h1> 
<h2>Dedicated Servers</h2> 
<p>Need your own server? ithought can rack your equipment and give you great rates on rack space and bandwidth, starting at $75/month for a 1U server. ithought can also take care of purchasing Dell hardware for you and you can either pay for it upfront, or spread your cost over several years. </p> 
<h2>Virtual Servers</h2> 
<p>ithought doesn't currently offer virtual servers, and while we plan to eventually, it's just not ready yet! If you're looking for a virtual server, check out <a href="https://manage.slicehost.com/customers/new?referrer=eb53e2d3b472659f477b9358da915b1e">Slicehost</a>. Some of ithought's offisite services are on Slicehost machines and it's worked out very well.</p> 
<h2>Shared Hosting</h2> 
<p>Starting at $100/year, ithought's shared hosting package covers just about everything you would want to do on a server from hosting your e-mail or a small website, to managing a collection of sites with staging areas, databases, revision control, and more. The following is all included:</p> 
<ul> 
<li>Web Hosting<ul> 
	<li>Apache 2 virtual hosts (including weekly offsite backups of your files)</li> 
 
	<li>MySQL 5 (including nightly onsite backups, weekly offsite backups, and master-slave replication)</li> 
	<li>SFTP and SSH access to your sites as needed</li> 
	<li>private SSL encrypted Subversion repository that only you can access (with nightly onsite backups and weekly offsite backups)</li> 
	<li>SSL encrypted <a href="http://chandlerproject.org/">Chandler</a> server</li> 
	<li>Remote monitoring of your website from another datacenter</li> 
 
	<li>Domain name purchasing and management (additional fee per domain name based on my cost)</li> 
	</ul></li> 
<li>Mail Hosting<ul> 
	<li>SSL encrypted sending and receiving of mail</li> 
	<li>POP3 and IMAP access</li> 
	<li>Alternate outgoing mail ports for sending mail that work around ISP limitations (AOL, Earthlink, and others)</li> 
	<li>Backup mail spool locally for all domains, backup mail spool in another datacenter</li> 
 
	<li>SSL encrypted webmail</li> 
	<li>Spam filtering and Virus scanning for all incoming mail</li> 
	</ul></li> 
<li>Shell Server Access<ul> 
	<li>SSH access to your sites</li> 
	<li>SSH access to a server for running proxys, IRC, instant messaging clients, etc</li> 
	<li>cron job scheduling</li> 
 
	</ul></li> 
</ul> 
<p>Assuming your usage of these services doesn't cost ithought more than $100/year to provide, that is all you'll have to pay.  This generally means several Gigabytes of disk and several Gigabytes of disk transfer per month. All we'll need you to do is point the authortative nameservers for your domain to ones ithought gives you (or you can give us a username/password to log into your registrar) and ithought will take care of the rest.</p> 
<h2>Extras</h2> 
<p>Some things cost a little bit extra, here is a partial list:</p> 
<ul> 
<li><b>Domain name registration</b>: $15/year (may change as market prices change)</li> 
<li><b>Dedicated IP address</b>: $25/year</li> 
<li><b>SSL for your domain</b>: $30/year (requires a dedicated IP address purchase)</li> 
<li><b>Large Disk/Bandwidth/CPU usage</b>: whatever they cost ithought.</li> 
<li><b>Phone Support</b>: No phone support is provided for any of the hosting plans above. Each Support incident is $100 for the first hour rounded up to the hour, and $50/hour for additional hours rounded up to the next 30-min interval.</li> 
</ul> 
<p>If what you need isn't included above, just contact ithought and chances are we'll be able to take care of you.</p> 
