<h1>Hosting</h1> 
<h2>The right choice for all of your hosting needs</h2> 
<p>Even though I live and breathe servers and services, my hosting services are a hobby and every cent that I make from hosting goes towards buying new hardware that you get to use. Selling services allows me to have much nicer equipment than I would have otherwise, and I personally use all of the services that I provide so I know all the details and will quickly notice if anything goes wrong.</p> 
<h1>Consulting</h1> 
<h2>Dependable expert advice for your business</h2> 
<p>Over 10 years of experience means that after a quick conversation, I'll know if I can help you with any issue you have, and I can quickly and effectively work with you to get things done. I have extensive experience working with the entire web application stack, from coding basic HTML websites to scaling up clusters of highly-available web applications, and from working on single-person projects to sourcing and coordinating teams of remote developers. If I think your project will be a fit for my background, I guarantee fast and functional results.</p> 
<h1>Community</h1> 
<ul> 
<li>Dedicated <a href="http://folding.stanford.edu/">Folding@Home</a> Server - <a href="http://folding.extremeoverclocking.com/user_summary.php?s=&u=335720">stats</a></li> 
<li>Dedicated <a href="http://www.torproject.org/">Tor</a> Server - <a href="http://trunk.torstatus.kgprog.com/router_detail.php?FP=6f0b29ea2a75844180a298b1a9dc8446b3895cbd">stats</a> (or <a href="https://torstatus.all.de/router_detail.php?FP=6f0b29ea2a75844180a298b1a9dc8446b3895cbd">stats</a>)</li> 
</ul> 
 
<p>Proud 2009,2010 Sponsor of the <a href="http://fastermustache.org">Faster Mustache</a> race team: <a href="http://fastermustache.org/race">FM:Race</a>.</p> 
<p><img style="margin:10px;" src="/images/fmrace.jpg" alt="FM:Race" /></p> 
