 I receive email, web hosting, and Chandler service through Chris Kelly. He is
 my only point of contact and I know I can receive a quick and useful reply
 anytime between the early morning and late evening.  For example, when I
 started web service, I had no php or mysql experience, but Chris answered
 even the mundane questions quickly.  If I happened to send him a question
 late at night, I found a reply in my inbox timestamped for first thing in the
 morning!  Also, if there is ever a program I need installed on the servers,
 Chris will get it installed if at all possible.

 While Chris' personal approach also eliminates conflicting or redundant
 service, his knowledge of the services he provides always yields an efficient
 solution.  I have rarely encountered hosting downtime, but in case that's a
 question, Chris has an off-site server that provides an up-to-date system
 status.  Chris always encourages his clients to contact him if the system
 status doesn't agree with the server.  For example, when I pointed out the
 Chandler server was down, Chris immediately had it restarted... and I am the
 only person besides him who uses the service!

 If you're looking for reliable, affordable hosting, I would suggest
 ithought.org without reservation.  It's reassuring to know I own all my
 online information (something google users can't say!) and know that I can
 have any server problem resolved quickly.

 Victor Kumsomboone - <a href="http://www.v1ct0r.org/">www.v1ct0r.org</a>
