Chris has been a integral asset to our bike shop. He assembled the backbone for our online store and has served as our go to guy for our
numerous IT perils and ponderings. We switched our entire online presence over to Chris's hosting services and have been very pleased with the improved performance and productivity of our websites. Chris has always taken the time to distinctly explain the in's and out's of every step keeping every aspect transparent and easy to grasp.  We have always had the sense of Chris's vested interest in not only the success of the projects he's worked on with us but our business's success overall! We had previously known of Chris's expertise and friendly approach to getting things done via his involvement in the bike community here in Atlanta. We had also seen Chris's acute attention to detail and design implemented on other websites before and the choice to go with ithought was a clear one. 

Jon Woodroof - Co-owner, <a href="http://www.nobrakesatl.com/">No Brakes</a>

