I have worked with Chris on a wide variety of web projects over the years and have always found him to be professional, intelligent, and creative. His hosting service is by far the best value around and I have recommended it to all of my clients. His consulting is also one-of-a-kind - brilliance like this is rarely so accessible. I consider ithought.org to be an excellent service and Chris to be a valuable partner.

Kurt Rampton - <a href="http://www.krautstache.com/">Krautstache Design</a>
