Chris Kelly has provided me with hosting service for five years. The number of
sites he has hosted for me has varied between 5 and 20. During that time I
have enjoyed Chris's professional service, his server's superior uptime and
his flexibility. I am a tech-savvy person, but don't know everything, which is
why Chris is so valuable. If I need some change made on the server Chris is
there to make it happen. I recommend Chris and ithought.org to anyone
interested in an affordable, responsive web hosting solution.

Richard Lorenc - <a
href="http://www.openillinois.org/">www.openillinois.org</a>
