To whom it may concern.

I would highly recommend Chris Kelly to host your online presence.  I was quite unsure of how to go about getting a domain name and creating my own "web home".  After looking around for quite a long time, I heard about Chris.

Within minutes, Chris had created my hosting environment and all I need to do was create my content.  Chris is highly supportive and has been very flexible and responsive to any requests I've had of him.   Chris's flexibility  is, in  my opinion,  a true differentiator among the many hosting options currently available

Tim Almdal - <a href="http://www.timalmdal.com/">www.timalmdal.com</a>

