Putting my server in Chris Kelly's care has been a delight.  My hardware changes were handled efficiently, and I have been kept aware of network statistics through comprehensive reporting and instant alerts.  I'm glad to have someone reliable and intelligent supplying my hosting needs.

Jesse Mullan - <a href="http://jpmullan.com/">jpmullan.com</a>

