I own a web and interactive design company and I have hosted my company's website with Chris since day one.  Many of my clients have chosen to host their sites with Chris as well. Chris is alway quick to respond when the occasional issues show up.  My problems and questions have always been resolved within an hour. I highly recommend Chris' hosting services.

Melissa Hwang - <a href="http://www.dotdotstudios.com/">DotDot Studios</a>

