Chris is one of the more extraordinary minds I've ever had the privilege of working on projects with.  He handles projects in an efficient and thorough manner, generally finishing tasks above and beyond what is required and in less time than allocated.  He can map out a project from start to finish and provides timely updates as tasks are making their way to fruition.  He uses his vast knowledge to not only make sure the job gets done, but that it's fully-completed and done the "right way" with future considerations in place, as opposed to the quickest and easiest path for today.  For that reason alone, Chris is someone I'll consistently turn to for advice and assistance for technical and architecture planning or problems.

Joey Parsons - Director of Global Operations, <a href="http://www.sugarcrm.com/">SugarCRM</a>

