Eleon Power is commercializing a potentially "game changing" portable power technology, and needed a web site to communicate our message effectively.  Working collaboratively with company management and product design professionals, Chris coordinated site development efforts, with <a href="http://www.eleonpower.com/">www.eleonpower.com</a> the result.  Chris was always available, efficient, flexible, and professional.  Within tight budget and schedule constraints, results exceeded expectations.  We will continue to work with him as our site requirements evolve.

Dave Kelly - Chairman and CEO, <a href="http://www.eleonpower.com/">Eleon Power</a>

