Chris is a valuable member of the Atlanta Bicycle Campaign's ongoing website development committee.  In our redesign of our site, he helped us focus on being user-centric and was able to suggest easy solutions for implementing the functionality we want.  His experience with Drupal is greatly appreciated.

Rebecca Serna - Executive Director, Michael Selik - Outreach Manager, <a href="http://www.atlantabike.org/">Atlanta Bicycle Campaign</a>

